<div class="index">
  <h2>About Stock Castle</h2>
  <div class="about">

    <p>As part of CodeClan's 16 week programming course, I was asked to create a web app using Sinatra, PostGRES SQL, HTML / CSS, Ruby.</p>

    <p>Stock Castle is designed for stock management. This allows a shop keeper to track products easy and fast. It also keeps track of contact details of different manufacturers.</p>


    <p>The project started with the following MVP:</p>
    <div class="step-list">
      <ul>
        <li>The inventory is able to track individual products, including a name, description, stock quantity, minimun quantity, maximun quantity, buying cost and selling price.</li>
        <li>The inventory is able to also track manufactures, including a name, country, phone and email.</li>
        <li>The inventory can edit products (updating different attributes), delete and create products and manufacturers separately.</li>
        <li>The inventory can list all details for all the products in stock in a single view as well as visually display stock levels of products (such as, "Available in Stock", "Only X in Stock", "Out of Stock)</li>
      </ul>
    </div>
    <p>This project continued with the following extensions:</p>
    <div class="step-list">
      <ul>
        <li>The inventory shows total cost of products as well total value of products.</li>
        <li>The inventory can calculate margin and markup of different products.</li>
        <li>The inventory has been filtered by manufacturer and by category so it can show what products belong to which manufacturer or category.</li>
        <li>The inventory can also show the representation of products for a specific category in percentage over the total of stock hold at that moment.</li>
      </ul>
    </div>
  </div>
</div>
