<div class="centralboard">
  <div id="heading">
    <h1>STOCK CASTLE</h1>
    <div class="slogan">
      <h4>The Cure for the Common Stock Management</h4>
    </div>
  </div>

  <div id="subheading">
    <p>Start tracking your stock of products.</p>
  </div>
</div>
<div id="middleboard">
  <div class="figure">
    <figure>
      <a href="/inventory"><img src="/img/stock-list.svg" alt="Stock List icon black and white"  width="100px" height="100px"></a>
      <figcaption><h3>List Inventory</h3></figcaption>
    </figure>
  </div>

  <div class="figure">
    <figure>
      <a href="/manufacturers"><img src="/img/manufacturer.svg" alt="Industry building icon black and white" width="100px" height="100px"></a>
      <figcaption><h3>Manufacturers</h3></figcaption>
    </figure>
  </div>
</div>

<!-- <div>
  <div>
    <h3>List Inventory</h3>
  </div>
  <div>
    <h3>List Manufacturers</h3>
  </div>
</div> -->

<!-- <div>
  <figure>
    <img...>
    <caption>List Inventory</caption>
  </figure>
  <div>
    <h3>List Manufacturers</h3>
  </div>
</div> -->
