<div class="centralboard">
  <div id="heading">
    <h1>INVENTuLIST</h1>
    <div class="slogan">
      <h4>"The Cure for the Common Stock Management"</h4>
    </div>
  </div>

  <div id="subheading">
    <p>Start tracking your stock of products.</p>
  </div>
</div>
<div id="middleboard">
  <ul>
    <li>
      <div class="btn-stock">
        <h3>List Inventory</h3>
      </div>
    </li>
    <li>
      <div class="btn-manufacturer">
        <h3>List Manufacturer</h3>
      </div>
    </li>
  </ul>
</div>

<!-- <div>
  <div>
    <h3>List Inventory</h3>
  </div>
  <div>
    <h3>List Manufacturers</h3>
  </div>
</div> -->

<!-- <div>
  <figure>
    <img...>
    <caption>List Inventory</caption>
  </figure>
  <div>
    <h3>List Manufacturers</h3>
  </div>
</div> -->
