<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome | Shop Inventory</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
  <main>
    <header id="global-header">
      <div class="header-wrapper">
        <div id="logo">
          <h2><a href="https://github.com/matosca" target="_blank">matora</a></h2>
        </div>
      </div>
    </header>
    <div class="nav-pane">
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/inventory">Inventory</a></li>
          <li><a href="/manufacturers">Manufacturer</a></li>
          <li><a href="/categories">Stock Categories</a></li>
          <li><a href="/inventory/new">Add Stock</a></li>
          <li><a href="/manufacturers/new">Add Manufacturer</a></li>
        </ul>
      </nav>
    </div>
  </main>
  <section class="content" id="main-content">
    <%= yield %>
  </section>
</body>
<footer class="darker"> &copy Copyright 2019 | Stock Castle by matora <span><a href="https://github.com/matosca" target="_blank"><img src="https://img.icons8.com/ios-glyphs/22/000000/github.png"></a></span></footer>
</html>
