<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome | Shop Inventory</title>
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><a href="/stock-list">Inventory</a></li>
      <li><a href="/stock-list/new">New Order</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
<footer class="darker"> &copy Copyright 2019 | Shop Inventory</footer>
</html>
