<div id="new">
  <p> EMPTY ORDER FORM: </p>

  <div class="form">
    <form action="/stock-list" method="post">

      <div class="item-name">
        <label for="product-name">Product Name:</label>
        <input type="text" name="product_name" id="product-name" placeholder="Enter name"/>
      </div>

      <div class="descript-item">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" placeholder="Enter a description"/>
      </div>

      <div class="quantity">
        <label for="stock-quantity">Quantity:</label>
        <input type="number" name="stock_quantity" value="Minimum Order 10" placeholder="Select quantity">
      </div>

      <div class="buy-cost">
        <label for="buying-cost">Buying Cost</label>
        <input type="number" name="buying_cost" value="">
      </div>

      <div class="sell-price">
        <label for="selling-price">Selling Price</label>
        <input type="number" name="selling_price" value="">
      </div>

      <div class="date">
        <label for="date-order">Date of Order</label>
        <input type="datetime" name="date-order" value="">
      </div>

      <div class="manufacturer-slct">
        <label for="manufacturer">Select Manufacturer:</label>
        <select name="manufacturer" id="manufacturer">
          <% @manufacturers.each do |manufacturer| %>
              <option value=<%= manufacturer.id %>><%= manufacturer.name.capitalize %></option>
          <% end %>
        </select>
      </div>

      <div class="category-slct">
        <label for="category">Select Category:</label>
        <select name="category" id="category">
          <% @categories. each do |category|%>
              <option value= <%= category.id %>><%= category.type.capitalize %></option>
          <% end %>
        </select>
      </div>

      <input type="submit" value="Request Order">
    </form>
  </div>
</div>
