<div id="new">
  <h2> EMPTY ORDER FORM: </h2>

  <div class="form1">
    <form action="/inventory" method="post">

      <div class="item-name">
        <label for="name">Product Name: </label>
        <input type="text" name="name" id="name" placeholder="Enter name"/>
      </div>

      <div class="descript-item">
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" placeholder="Enter a description"/>
      </div>

      <div class="quantity">
        <label for="stock-quantity">Quantity Order: </label>
        <input type="number" name="stock_quantity" id="stock-quantity" placeholder="Select quantity">
      </div>
      <div class="max-quantity">
        <label for="max-quantity">Maximum Quantity: </label>
        <input type="number" name="max_quantity" id="max-quantity" placeholder="Select maximum quantity">
      </div>

      <div class="min-quantity">
        <label for="min-quantity">Minimum Quantity: </label>
        <input type="number" name="min_quantity" id="min-quantity" placeholder="Select minimum quantity">
      </div>

      <div class="cost">
        <label for="buying-cost">Buying Cost: </label>
        <input type="number" name="buying_cost" id="buying-cost" min="0.00" max="10000" step="any">
      </div>

      <div class="price">
        <label for="selling-price">Selling Price: </label>
        <input type="number" name="selling_price" id="selling-price" min="0.00" max="10000" step="any">
      </div>

      <div class="manufacturer-slct">
        <label for="manufacturer">Select Manufacturer: </label>
        <select name="manufacturer_id" id="manufacturer">
          <% for manufacturer in @manufacturers %>
          <option value="<%= manufacturer.id %>"><%= manufacturer.name.capitalize %></option>
           <% end %>
        </select>
      </div>

      <div class="category-slct">
        <label for="category">Select Category: </label>
        <select name="category_id" id="category">
          <% for category in @categories %>
          <option value="<%= category.id %>"> <%= category.type.capitalize%></option>
          <% end %>
        </select>
      </div>

      <input type="submit" value="Add Stock">
    </form>
  </div>
</div>




<!-- PG::ForeignKeyViolation at /inventory
ERROR: insert or update on table "products" violates foreign key constraint "products_manufacturer_id_fkey" DETAIL: Key (manufacturer_id)=(0) is not present in table "manufacturers". -->

<!-- <label for="manufacturer">Select Manufacturer:</label>
<select class="manufacturer" name="manufacturer">
  <option value="John Morrison Kilt">John Morrison Kilt</option>
  <option value="Aran Tradition">Aran Tradition</option>
  <option value="Walkers Ltd">Walkers Ltd</option>
  <option value="Safon">Safon</option>
</select> -->

<!-- <label for="category">Select Category:</label>
<select class="category" name="category">
  <option value="Highlandwear">Highlandwear</option>
  <option value="Winter Clothing">Winter Clothing</option>
  <option value="Confectionary">Confectionary</option>
  <option value="Summer Clothing">Summer Clothing</option>
</select> -->


<!-- <input type="text" name="input" placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter a date in this format YYYY/MM/DD"/> -->
