* {
  margin: 0;
  padding: 0;
}

/* Layout & index styling of HOME page */
/* Header Bar */
#global-header {
  position: fixed;
  top: 0;
  background-color: #0b0c0c;
  width: 100%;
  border-bottom: 6px solid rgba(15, 73, 147, 0.9);
}

#global-header .header-wrapper {
  background-color: #0b0c0c;
  max-width: 990px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 9px;
}

#global-header .header-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 1;
  display: block;
}

#global-header a {
  color: #F9F8FF;
  text-decoration: none;
}

#global-header a:hover {
  color: #C8C6D8;
  border-bottom: 1px solid #C8C6D8;
}

/* Navigation Bar */
.navbar {
  background-color: #C6C6C6;
  margin-top: 60px;
  width: 100%;
  padding: 12px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin-right: 25px;
  margin-left: 25px;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1em;
  color: #0b0c0c;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #505050;
  border-bottom: 2px solid #505050;
}

/* Main Content area style */
.centralboard {
  margin-top: 2.5em;
  min-height: 22em;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(15, 73, 147, 0.9);
}

.centralboard #heading {
  display: block;
  position: relative;
  align-items: baseline;
  justify-content: space-around;
  margin: 15px;
  margin-top: 50px;
  padding: 25px 20px;
}

.centralboard #heading h1{
  color: #F9F8FF;
  text-align: justify;
  justify-content: space-around;
  font-size: 3em;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.centralboard .slogan h4 {
  color: #F9F8FF;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
}

.centralboard #subheading {
  display: block;
  position: relative;
  align-items: baseline;
  justify-content: space-around;
  margin: 15px;
  margin-top: 5px;
  padding: 20px 20px;
}

.centralboard #subheading p {
  color: #F9F8FF;
  text-align: left;
  justify-content: space-around;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

/* Main Content area style Middle Pane */
#middleboard {
  background-color: #F9F8FF;
  min-height: 20em;
  width: 100%;
}

#middleboard ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

#middleboard ul li {
  margin-top: 2em;
  list-style: none;
  padding: 20px;
  display: inline-flex;
  color: #0b0c0c;
}

/* Footer Style */
.darker {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 1em;
  color: #0b0c0c;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  padding: 15px;
  background-color: #C6C6C6;
  width: 100%;

}

/* Styling Inventory - Index */
.index1 {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  width: 100%;
}

.index1 h2 {
  text-align: left;
  max-width: 20em;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
  padding-left: 1em;
  display: block;
}

/* Inventory-index & table Style */
#product-list {
  border-collapse: collapse;
  background-color: :#C6C6C6;
  overflow: hidden;
  max-width: 98%;
  max-height: 20vh;
  margin: auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 5px 20px #E3E3E3;
}

table th {
  text-align: center;
  font-family: 'Monospace', sans-serif;
  color: #373544;
  font-weight: bold;
}
table td {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #3B3B3B;
}

th, td {
  padding: 10px 15px;
  border-collapse: collapse;
  height: 6vh;
}

table td a {
  text-decoration: none;
  text-transform: capitalize;
  color: #373544;
}

table td a:hover {
  color: #26454C;
  border-bottom: 1px solid #26454C;

}

table tr:hover {
  color: #000;
  /* background-color: #BCBCBC; */
  /* background-color: #E3E3E3; */
  background-color: #E5E5E5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#link {
  margin: 30px;
}

#link a {
  text-decoration: none;
  text-transform: capitalize;
  color: #f2f2f2;
  font-family: 'Monospace', sans-serif;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
  box-shadow: 6px 7px 20px rgba(18, 158, 207, 0.9) inset;
  background-color: rgba(15, 73, 147, 1);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

#link a:hover {
  color: #f2f2f2;
  box-shadow: 2px 3px 20px #E3E3E3 inset;
  background-color: rgba(15, 73, 147, 0.9);
}

/* Styling Manufacturer - Index (Details of address) */
.index2 {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  /* margin-left: 2em; */
  margin-bottom: 7em;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.index2 h2 {
  max-width: 20em;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
  padding-left: 1em;
  display: block;
}

#manufacturer-list {
  border-collapse: collapse;
  background-color: :#C6C6C6;
  overflow: hidden;
  max-width: 100%;
  max-height: 20vh;
  margin-left: 2em;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 5px 20px #E3E3E3;
}

#manufacturer-list th, #manufacturer-list td {
  padding: 10px 25px;
  border-collapse: collapse;
  height: 6vh;
}

/* Media Query for Header Bar & Central Board*/
@media (min-width: 640px) {
  #global-header .header-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  #heading  h1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  #subheading  p {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (min-width: 300px) {
  #global-header .header-wrapper #logo {
    padding-left: 15px;
  }
}
