<div class="index3">
  <h2>CATEGORIES</h2>
  <div id="centered">
    <div class="table1">
      <table id="category-list">
        <% for category in @categories %>
        <tr>
          <td><a href="/categories/<%= category.id %>"><%=category.type%></a></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
