<div class="index3">
  <h2>CATEGORIES <span class="pie" style="--segment1: 40; --segment2: 60; --segment3: 70; --segment4: 80; --segment5: 90;">
  </span></h2>

  <div class="table1">
    <table id="category-list">
      <% for category in @categories %>
      <tr>
        <td><a href="/categories/<%= category.id %>"><%=category.type%></a></td>
      </tr>
      <% end %>
    </table>
    </div>
</div>
