<div class="show">
  <div class="back-arrow2">
    <a href="/categories"><img src="https://img.icons8.com/ios/50/000000/left-filled.png"></a>
  </div>

  <h2><%= @category.type.upcase %></h2>

  <div class="chart">
    <% total_products = @products.count %>
    <% products_array = @category.products%>
    <% result = products_array.count * 100 %>
    <% percentage = result / total_products %>
    <h5><%= percentage %>%</h5>
  </div>

  <h5>LIST OF PRODUCTS</h5>
  <div class="filtered-list showbox">
    <% array = @category.products %>
    <% result = array.map { |product|  product.name} %>
    <% products = result.each { |product|  product} %>
    <% for product in products%>
    <ul>
      <li><%= product %></li>
    </ul>
    <% end %>
  </div>

</div>
