<div class="show">
  <p>Category</p>
  <div class="showbox">
    <p><%= @category.type %></p>
  </div>

  <div class="showproducts">
  <p>LIST OF PRODUCTS</p>
  <div class="showbox">
    <% array = @category.products %>
    <% result = array.map { |product|  product.name} %>
    <% products = result.each { |product|  product} %>
    <% for product in products%>
      <p><%= product %></p>
    <% end %>
  </div>
</div>

  <!-- <div class="btn-delete">
    <form action="/categories/<<%=@category.id%>/delete"  method="post">
      <input type="submit"  value="DELETE">
    </form>
  </div> -->
</div>
