<div class="show">
  <h2><%= @category.type.upcase %></h2>

  <h5>LIST OF PRODUCTS</h5>
  <div class="filtered-list showbox">
    <% array = @category.products %>
    <% result = array.map { |product|  product.name} %>
    <% products = result.each { |product|  product} %>
    <% for product in products%>
    <ul>
      <li><%= product %></li>
    </ul>
    <% end %>
  </div>

</div>
