<div class="show">
  <p>Category</p>
  <div class="showbox">
    <p><%= @category.type %></p>
  </div>

  <!-- <div class="btn-delete">
    <form action="/categories/<<%=@category.id%>/delete"  method="post">
      <input type="submit"  value="DELETE">
    </form>
  </div> -->
</div>
