<div class="create">
  <h1>New Manufacturer Added</h1>
  <div class="detailbox">
    <p>Name: <%= @manufacturer.name %></p>
    <p>Country: <%= @manufacturer.country %></p>
    <p>Phone: <%= @manufacturer.phone %></p>
    <p>Email: <%= @manufacturer.email %></p>
  </div>
</div>
