<div id="new">
  <h2>ADD NEW MANUFACTURER</h2>

  <div class="form1" id="manufacturer-form">
    <form  ation="/manufacturers" method="post">
      <div class="section"> <span>1</span> Manufacturer Name</div>
      <div class="inner-wrap">
        <label for="name">Manufacturer Name: </label>
        <input type="text" name="name" id="name" placeholder="Enter name">
      </div>

      <div class="section"> <span>2</span> Contact Details</div>
      <div class="inner-wrap">
        <label for="country">Country: </label>
        <input type="text" name="country" id="country" placeholder="Enter country name">

        <label for="phone">Phone: </label>
        <input type="text" name="phone" id="phone" placeholder="Enter phone number">

        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Enter email address">
      </div>

      <div class="button-section">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
