<div class="create">
  <h1>Details updated!</h1>
  <div class="updatebox">
    <p>Name: <%= @manufacturer.name %></p>
    <p>Country: <%= @manufacturer.country %></p>
    <p>Phone: <%= @manufacturer.phone %></p>
    <p>Email: <%= @manufacturer.email %></p>
  </div>
</div>
