<div class="show">
  <h2>DETAILS SUCCESFULLY UPDATED</h2>
  <div class="updatebox">
    <h3><%= @manufacturer.name %></h3>
    <address class="address">
      Country: <%= @manufacturer.country %><br>
      Phone: <%= @manufacturer.phone %><br>
      Email: <%= @manufacturer.email %><br>
    </address>
  </div>
</div>
